*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.About-us-container{
  background-color: black;
  position: relative;
  height: 55vh;
  top: 80px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.About-us-container h1{
  text-align: center;
  color: white;
}