*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  /* background-color: #212529; */
  background-color: #212529 !important;
}
.navigate-bars{
  display: flex;
}
/* .sidebar css section  */
.sidebar {
  background-color: #2C3034;
  color: white;
  width: 60%;
  height: 100vh;
  max-width: 200px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top: 30px;
  /* padding: 0 20px; */

}
.Logo-div{
  border-bottom: 1px solid white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dash-logo{
  width: 100px;
  /* margin-top: 20px; */
}
.Logo-div h2{
  font-size: 26px;
  text-shadow: 0 0 3px #fff, 0 0 5px yellowgreen;
  font-family:'Times New Roman', Times, serif;
}
.Logo-div h2 span{
  color: yellowgreen;
}
.sidebar .sidebar-nav {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
}
.sidebar .navbar-nav .nav-item{
  padding: 0 20px;
}
.sidebar .sidebar-nav .nav-item  .link{
  display: flex;
  align-self: center;
  column-gap: 10px;
  color: #8a8a8a;
  padding: 6px 10px;
  width: 100%;
  transition: .5s ease-in-out;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.sidebar .sidebar-nav .nav-item .link:hover{
  background: #575962 !important;
  border-radius: 10px;
  color: #fff !important;
}
.active-nav{
  background: #575962 !important;
  border-radius: 10px;
  color: #fff !important;
  font-weight: 600;
}
/* main section  */
.main{
  width: 100%;
  background-color: #212529 !important;
}
/* navbar section  */
.nave-bar{
  width: 100%;
  background-color: #2C3034 !important;
  color:#fff;
  height: 10vh;
  box-shadow: #575962;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.3); 
  position: fixed;
  z-index: 999;
}
.navbar-menu{
  margin-left: 158px;
  /* display: none; */
  opacity: 0;
}
.nav-content-2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
}
.nav-profile{
  position: relative;
}
.dropdown{
  position: absolute;
  top: 50px;
  right: 0;
  width: 260px;
  padding: 30px;
  font-size: 1rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
  display: none;
}
.dr-profile-div{
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
.dropdown h4{
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  font-family: Roboto, sans-serif;  
  color: #212529;
}
.dropdown p {
  font-size: 14px;
  line-height: 1.82;
  word-break: break-word;
  color: #6c757d!important;
  margin-bottom: 5px;
}
.dropdown button{
  padding: 5px 9px;
  background-color: yellowgreen;
  width: 100%;
  scale: 1.05 !important;
}
.dr-signout-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.profile-div{
  border: 1px solid gray;
  padding: 10px 15px;
  border-radius: 100%;
  cursor: pointer;
}
.toggle-btn{
  cursor: pointer;
}
.toggled{
  display: block;
}
.btn-div{
  margin-left: 200px;
}
.deposits-cnet-dv{
  display: flex;
  align-items: center;
  column-gap: 6px;
}
.btn-div button{
  padding: 8px 16px;
  font-size: 14px;
}
.btn-div button:nth-child(2){
  background-color: transparent;
  color: yellowgreen;
}

/* container section  */
.dashbord-ccontainer {
  padding: 0 25px;
  background-color: #212529 !important;
  padding-top: 40px;
  margin-top: 58px;
  margin-left: 200px;
}
.welcome-heading{
  color: white;
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
}
.Account-holding-div{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 400px);
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 40px;

}
.total-deposit-div,
.total-profit-div,
.acc-balance-div,
.total-bonus-div,
.total-referral-div,
.total-investment-plan-div,
.active-investment-plan-div,
.total-withdrawals-div{
  display: flex;
  align-items: center;
  background-color: #2C3034;
  color: white;
  padding: 1rem;
  column-gap: 15px;
  border-radius: 5px;

}
.total-deposit-div strong,
.total-profit-div strong,
.acc-balance-div strong,
.total-bonus-div strong,
.total-referral-div strong,
.total-investment-plan-div strong,
.active-investment-plan-div strong,
.total-withdrawals-div strong{
  font-family: Roboto, sans-serif;
}
.img-div img{
  width: 25px;
}
.totals-p{
  color: #8094ae;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

/* card section  */
.balance-card{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  flex-wrap: wrap;
  border-bottom: 1px solid #8094ae;
}
.balance-acc-div,
.profit-acc-div,
.my-investment-div{
  border: 1px solid #dbdfea;
  padding: 1.5rem;
  background-color: white;
  width: 400px;
  margin: 40px 0;
  border-radius: 5px;
}
.invest-acc-div{
  margin: 20px 0;
}
.acc-bal-p,
.deposit-funds{
  color: #8094ae;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  /* text-align: center; */
  /* margin-top: 20px; */
}
.balance-acc-div h2,
.my-investment-div h2{
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid yellowgreen;
  font-weight: bold;
}
#invest-start{
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}
.invest-paragraph{
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.invest-percent-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid yellowgreen;
}
.profit-acc h2{
  font-family: Roboto, sans-serif;
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}
.profit-acc{
  display: flex;
  align-items: center;
  align-items: flex-end;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid yellowgreen;
}
.profit-per{
  color: green;
}
.available-funds,
.investment-funds,
.deposits-return,
.total-funds{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.investment-funds{
  border-bottom: 2px solid rgb(105, 105, 105);
}
.invest-max-funds{
  border-bottom: 0;
}
.deposits-return{
  border-bottom: 2px solid rgb(105, 105, 105);
}
.available-funds strong,
.investment-funds strong,
.total-funds strong{
  font-family: Roboto, sans-serif;
}

.funds-button{
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gold-inp-div{
  display: flex;
}
.funds-button button:nth-child(1){
  background-color: yellowgreen;
  color: black;
  padding: 5px 16px;
  width: 100%;
  margin-right: 0;
}
.invest-amt{
  width: 100%;
  height: 30px;
  /* margin-left: -18px; */
  margin-bottom: 20px;
  outline: none;
  border: 1px solid gray ;
  padding: 20px;
  border-radius: 5px;
}
.error-message-iv{
  font-size: 13px;
  color: red;
  margin-top: -15px;
  margin-left: -8px;
  display: flex;
  align-self: flex-start;
  justify-self: flex-start;
  margin-bottom: 10px;
}
.invest-btn{
  width: 100%;
  /* margin-left: -18px; */
  border: none;
  background-color: yellowgreen;
}
/* .funds-button button:nth-child(1):hover{
  color: white;
  border: none;
  scale: none;
  transition: 10 ease-in-out;
} */
/* #desh-depos{
  margin-bottom: 20px;
} */
.deposit-funds{
  text-decoration: none;
  padding-top: 20px;
  text-align: center;
}
.depos-funds {
  text-align: center;
}
.dashboard-copyright-div{
  padding: 20px 0;
}
.dashboard-copyright-div p{
  color: #8094ae;
  font-family: Roboto, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
}

/* Deposite Secion  */
.account-container{
  background-color: #2C3034;
  padding: 1.25rem;
  height: 90vh;
  padding-bottom:40px;
  border-bottom: 1px solid #8094ae;
}
.amount-input-div{
  margin-bottom: 60px;
}
.amount-input-div h3,
.choose-payment-div h3,
.wallet-address-and-proof h3{
  margin: 0;
  color: #f8f9fa !important;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 10px;
}
.depos-amt-div{
  display: flex;
}
.amount-input-div input,
.wallet-input,
.proof-input,
.select-payment{
  display: block;
  width: 610px;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  background-color: #22242A !important;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border: 1px solid #575962;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.select-payment{
  width: 410px;
}

.payment-metthods{
  display: grid;
  grid-template-columns: repeat(3, 190px);
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}
.btc-div,
.usdt-div,
.eth-div{
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #f8f9fa;
  border: 1px solid #575962;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 20px;
}
.proceed-btn,
.make-payment{
  border: none;
  background-color: yellowgreen;
  color: black;
  padding: 5px 16px;
}

/* Make payment Section  */
.mk-pm-h2{
  text-align: center;
}
.mk-pymt-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.make-payment-container{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #2C3034;
  color: #f8f9fa!important;
  padding: 2.35rem;
  width: 700px;
  /* height: 80vh; */
}
.witdrw-pymt-div{
  width: 500px;
}
.make-payment-container h4{
  line-height: 1.4;
  font-size: 1.0375rem;
  font-family: Lato, sans-serif;
  margin-bottom: 40px;
}
.selected-pm{
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}
.wallet-address{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.witdrw-div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 15px;
}
.wallet-address input{
  width: 410px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.wallet-address button{
  height: calc(2.25rem + 2px);
  display: flex;
  align-items: center;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; 
  background-color: transparent;
  border: 1px solid #575962;
}
.network-type,
.proof-of-payment p{
  font-size: 13px;
  font-family: Roboto, sans-serif;
  margin-bottom: 40px;
}
.proof-of-payment p{
  margin-bottom: 20px;
}
.proof-of-payment input{
  width: 250px;
  margin-bottom: 20px;
}
.mk-pm-cpr{
  margin-top: 30px;
  border-top: 1px solid #8094ae;
  width: 100%;
}
/* Investment Secion  */
.investment-container{
  background-color: #2C3034;
  padding: 1.25rem;
  height: 100vh;
  padding-bottom:40px;
  border-bottom: 1px solid #8094ae;
}
.invest-card{
  border: none;
  column-gap: 20px;
}
.error-border{
  border: 1px solid red;
}

/* transaciton Styles  */
#transaction-container{
  height: 100%;
}
.trans-table-row{
  /* height: 100%; */
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.trans-table-head,
.trans-table-body{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  border-bottom: 1px solid #8a8a8a;
  margin-bottom: 30px;
}
.trans-table-row{
  /* overflow-y: scroll; */
  height: 400px;
}
.trans-table-head h3{
  color: white;
  margin-bottom: 30px;
  width: 100%;
}
.trans-table-body h4{
  justify-self: center;
  color: white;
  width: 100%;
  font-size: 16px;
  margin-bottom: 30px;
}

.trans-table-header h3,
.trans-table-body h5{
  color: white;
  margin-bottom: 20px;
}
.trans-table-body .success, 
.trans-table-body .depo-signs{
  color: green;
}
.trans-table-body .pending, 
.trans-table-body .withdraw-signs{
  color: red;
}

/* support style */
.support-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #dbdfea;
  row-gap: 10px;
}
.support-div h2{
  color: #dbdfea;
  font-size: 28px;
}
.support-form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.support-form label{
  margin-bottom: 20px;
}
.support-form textarea{
  width:500px;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 20px;
  color: white;
  font-size: 16px;
  border: 2px solid #dbdfea;
  border-radius: 5px ;
}
.support-form button{
  border: none;
  background-color: yellowgreen;
  color: black;
  padding: 5px 16px;
}


/* Teblet Responsive design  */
@media screen and (max-width: 768px){
  /* sidebar section */
  .resp-cls{
    display: none;
    transition: left 0.3s ease;  
  }
  .resp-open {
    width: 100%;
    height: 100vh;
    max-width: 280px;
    align-items: flex-start;
    justify-content: flex-start;
    top: 110px;
    left: 0;
    transition: left 0.3s ease;  
    /* display: none; */
  }
  .btn-div {
    display: none;
  }
  /* nav bar section  */
  .nave-bar {
    padding: 0 60px;
  }
  .navbar-menu{
    margin-left: 0;
    size: 9px;
    opacity: 1;
  }
  .dropdown {
    top: 78px;
  }
  
  .dashbord-ccontainer {
    padding: 0 60px;
    /* height: 125vh; */
    background-color: #212529;
    padding-top: 100px;
    margin-top: 100px;
    margin-left: 0;
  }
  .sidebar .sidebar-nav {
   row-gap: 10px;
  }
  li {
    list-style: none;
    padding: 40px;
  }
  .sidebar .sidebar-nav .nav-item .link {
    font-family: Roboto, sans-serif;
    font-size: 1.38rem;
    align-items: center;
    /* line-height: 1rem; */

  }
  .amount-input-div h3, 
  .choose-payment-div h3, .wallet-address-and-proof h3 {
    font-size: 25px;
  }
  .Account-holding-div {
    display: grid;
    grid-template-columns: repeat(2, 310px);
    column-gap: 20px;
    row-gap: 20px;
  }
  .balance-card {
    display: grid;
    grid-template-columns: repeat(2, 310px);
  }
  .my-investment-div {
    justify-content: center;
    align-items: center;
  }
  .account-container {
    background-color: #2C3034;
    padding: 2.25rem;
    height: 80vh;
    padding-bottom: 0;
    border-bottom: 1px solid #8094ae;
  }
  .amount-input-div input, .wallet-input, .proof-input {
    display: block;
    width: 580px;
    height: calc(3.25rem + 2px);
  }
  .payment-metthods {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .proceed-btn, 
  .make-payment {
    margin-top: 20px;
  }
  .make-payment-container h4 {
    font-size: 1.5rem;
  }
  .wallet-address input {
    width: 510px;
  }
  .wallet-address button {
    height: calc(3.25rem + 2px);
  }
  .selected-pm img{
    width: 35px;
  }
  .selected-pm p{
    font-size: 20px;
  }
  .network-type, 
  .proof-of-payment p {
    font-size: 22px;
  }
  .proof-of-payment p {
    margin-bottom: 40px;
  }
  .proof-of-payment input {
    width: 300px;
    margin-bottom: 30px;
  }
  .investment-container {
    background-color: transparent;
  }
  /* transactions */
  .trans-table{
    overflow: scroll;
  }
  .trans-table-head{
    column-gap: 40px;
  }
  .trans-table-body {
    column-gap: 10px;
  }
}

/* phone size responsive designs */
@media screen and (max-width: 475px){
  html, body {
    /* height: max-content; */
    background-color: #212529;
  }
  /* side bar section  */
  .resp-open {
    width: 100%;
    height: 100vh;
    max-width: 280px;
    align-items: flex-start;
    justify-content: flex-start;
    top: 67px;
    /* padding: 0 30px; */
  }
  .Logo-div h2 {
    margin-right: 80px;
  }
  li {
    list-style: none;
    padding: 20px;
  }
  /* nav bar section */
  .nave-bar {
    padding: 0 30px;
  }
  .dropdown {
    top: 55px;
  }
  /* dashbaord sections */
  .dashbord-ccontainer {
    padding: 0 30px;
    padding-top: 40px;
    margin-top: 60px;
    height: 100vh;
  }
  .Account-holding-div,
  .balance-card {
    display: flex;
    flex-direction:column;
    width:100%;
    column-gap: 20px;
    row-gap: 20px;
  }
  .balance-card{
    margin-top: 30px;
  }
  .balance-acc-div, 
  .profit-acc-div, 
  .my-investment-div {
    margin:  0;
  }
  .my-investment-div{
    margin-bottom: 30px;
  }

  /* deposits seciton  */
  .amount-input-div input, 
  .wallet-input, 
  .proof-input {
    width: 100%;
  }
  .account-container {
    padding: 1.5rem;
    height: max-content;
  }
  .amount-input-div h3, 
  .choose-payment-div h3, .wallet-address-and-proof h3 {
    font-size: 22px;
  }

  /* make payment page  */
  .make-payment-container {
    padding: 1.5rem;
    width: 100%;
  }
  .make-payment-container h4 {
    font-size: 1rem;
  }
  .selected-pm img {
    width: 30px;
  }
  .selected-pm p {
    font-size: 18px;
  }
  .wallet-address-and-proof{
    width:100%
  }
  .wallet-address {
    width: 100%;
  }
  .wallet-address input {
    width: 100%;
  }
  .wallet-address button {
    width: 50px;
  }
  .network-type, 
  .proof-of-payment p {
    font-size: 16px;
    width: 100%;
  }
  .proof-of-payment input {
    width: 215px;
    margin-bottom: 30px;
  }
  /* withdraw section  */
  .witdrw-div {
    width: 100%;
  }

  /* investment page */
  .investment-container {
    height: max-content;
    padding: 1.5rem;
  }
  .invest-amt,
  .invest-btn{
    margin-left: auto;
  }
  .error-message-iv{
    margin-left: 0;
  }
  
  /* transation page */
  .trans-table-head {
    width: 100%;
    column-gap: 40px;
    width: max-content;
  }
  .trans-table-row {
    width: 100%;
    /* height: 400px; */
  }
  .trans-table {
    width: 100%;
  }
  .trans-table-body {
    column-gap: 60px;
    justify-content: flex-start;
    width: max-content;
  }
  /* .trans-table-body h4 {
    /* width: 100%; */
    /* font-size: 10px; 
  } */
  .support-div h2 {
    font-size: 20px;
  }
  .support-div p {
    font-size: 14px;
  }
  .support-div {
    width: 100%;
    margin-top: 100px;
  }
  .support-form {
    width: 100%;
  }
  .support-form textarea {
    width: 100%;
  }
}