/* Green Fixed Live Event with Fade-in Animation */
.live-event-alert-box {
  position: fixed;
  bottom: 20px;
  left:0;
  width: 100%;
  background-color: #f0fff4;
  border-left: 5px solid #38a169;
  color: #1e4620;
  padding: 16px 16px;
  z-index: 1000;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 4px 12px rgba(56, 161, 105, 0.2);
  animation: event-fade-in 0.5s ease;
  min-width: 260px;
  max-width: 320px;
}
.live-event-alert-box h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}


.live-event {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  transition: opacity 0.5s ease;
}
.live-event.fade-in {
  opacity: 1;
}
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: #1e4620;
  cursor: pointer;
}

@keyframes event-fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
